{% extends "base.html" %}

{% block content %}
<h1 id="create-head">Создание заявки</h1>
<form action="" id="create-form" method="post">
    {{ form.hidden_tag() }}
    <p>
        <p class="input-title-r">{{ form.time.label }}</p>
        {{ form.time(class="form-control") }}
        {% for error in form.time.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
    <p class="input-title-r">{{ form.address.label }}</p>
        {{ form.address(class="form-control") }}
        {% for error in form.address.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
    <p class="input-title-r">{{ form.mph.label }}</p>
        {{ form.mph(class="form-control") }}
        {% for error in form.mph.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
    <p class="input-title-r">{{ form.min_pay.label }}</p>
        {{ form.min_pay(class="form-control") }}
        {% for error in form.min_pay.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
    <p class="input-title-r">{{ form.amount.label }}</p>
        {{ form.amount(class="form-control") }}
        {% for error in form.amount.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
    <p class="input-title-r">{{ form.description.label }}</p>
        {{ form.description(class="form-control") }}
        {% for error in form.description.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary", id="create-btn") }}</p>
    <div id="wrong">{{message}}</div>
</form>
{% endblock %}